<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luke.fyp" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewMealsActivity"
            android:label="@string/title_activity_view_meals"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luke.fyp.MainActivity" />
        </activity>
        <activity
            android:name=".addMealActivity"
            android:label="@string/title_activity_add_meal"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luke.fyp.MainActivity" />
        </activity>
        <activity
            android:name=".storeMealRecordActivity"
            android:label="@string/title_activity_store_meal_record"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luke.fyp.MainActivity" />
        </activity>
        <activity
            android:name=".firstWelcomeActivity"
            android:label="@string/title_activity_first_welcome" >
        </activity>
        <activity
            android:name=".writeFileActivity"
            android:label="@string/title_activity_write_file"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luke.fyp.MainActivity" />
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.luke.fyp.MainActivity" />
        </activity>
    </application>

</manifest>
